@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa+One');
/* 'Changa One', arial, serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #eff6ec;
    background-image:
        radial-gradient(at 40% 20%, hsla(296, 100%, 83%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(279, 100%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(275, 100%, 86%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(263, 46%, 58%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(263, 54%, 54%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(300, 100%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(306, 68%, 49%, 1) 0px, transparent 50%),
        linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    max-width: 100vw;
    height: 100vh;
}

span::selection {
    background-color: #ff477e;
    color: #eff6ec;
}

.noise-filter {
    background: rgba(0, 0, 0, 0.085) url(/src/img/noise.svg);
    max-width: 100vw;
    height: 100vh;
}

.container {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on-btn {
    display: inline-block;
    color: #eff6ec;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 7px 0 #c01b4d, 0 10px 15px rgba(0, 0, 0, .35);
    transition: box-shadow 0.1s;
}


.on-btn span {
    display: inline-block;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    padding: 12px 15px;
    background: #FF477E;
    border-top: 1px solid rgba(255, 255, 255, .2);
    text-shadow: 0 -1px 1px rgba(51, 7, 27, 0.8);
    border-radius: 8px;
    transition: transform 0.1s;
}


.on-btn:hover span {
    transform: translateY(4px);
}


.on-btn:hover {
    box-shadow: 0 8px 0 #c01b4d, 0 7px 10px rgba(0, 0, 0, .25);
}

.off-btn {
    display: inline-block;
    color: #FF477E;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 7px 0 #c37d92, 0 10px 15px rgba(0, 0, 0, .35);
}

.off-btn span {
    display: inline-block;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    padding: 12px 15px;
    background: #ffb8cd;
    border-top: 1px solid rgba(255, 255, 255, .2);
    text-shadow: 0 -1px 1px rgba(69, 61, 65, 0.8);
    border-radius: 8px;
    transform: translateY(5px);
}

.main-menu {
    background: rgba(17, 0, 23, 0.78);
    border-radius: 11px;
    box-shadow: 0 4px 30px rgb(17, 0, 23);
    height: 48vh;
    width: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #ff477e12;
}

.main-menu header h2 {
    font-weight: 700;
    font-size: 26px;
    width: 400px;
    text-align: center;
}

.main-menu header h2::selection {
    background-color: #ff477e;
    color: #eff6ec;
}

.main-menu input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #eff6ec;
    color: #eff6ec;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 3px 50px;
    transition: all .3s;
}

.main-menu input::placeholder {
    color: rgba(255, 255, 255, 0.368);
}

.main-menu input:focus {
    color: #ff477e;
    border-bottom: 2px solid #ff477e;
}

.main-menu input::selection {
    background-color: #ff477e;
    color: #eff6ec;
}

.main-menu .error-name {
    text-align: center;
    margin-top: -25px;
    color: rgba(255, 0, 0, 0.912);
    font-weight: 500;
    word-spacing: 2px;
    transition: opacity .3s;
}

/* Alphabet page style */

.alphabet-menu header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-bottom: -10px;

}

.alphabet-menu header .alphabet-title {
    font-size: 17px;
}

.alphabet-menu header span {
    color: #eff6ec63;
    font-size: 14px;
}

.alphabet-menu .alphabet-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.alphabet-menu .alphabet-box button {
    width: 45px;
    user-select: none;
}

.alphabet-menu .alphabet-box span {
    width: 45px;
}

/* playground page style */

.syllabes-box {
    display: flex;
    gap: 15px;
    margin: 40px 0 50px;
}

.syllabes-box .syllabe-btn {
    width: 68px;
}

.syllabes-box .syllabe-btn span {
    width: 68px;
}

.box-btn {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

/* final screen */

.last-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(30px);
}

.last-screen header h2 {
    font-size: 28px;
}

.last-screen header p {
    color: #eff6ecab;
    text-align: center;
    font-size: 18px;
    margin-top: 7px;
}

.last-screen button {
   align-self: center;
}